# R packages
r-base >=3.4
r-factominer
r-cluster
bioconductor-clusterprofiler
bioconductor-annotationdbi
r-ggplot2
r-intego
r-rlist
r-reshape2
bioconductor-gosemsim
bioconductor-genomicfeatures
r-png
bioconductor-annotationhub
r-rsqlite
bioconductor-DOSE=3.4.0

# Python libraries
python >=3.6
pandas
matplotlib
scipy

# Genclust
genclust
