# R packages
r-base >=3.4
python >=3.6
r-factominer
r-cluster
bioconductor-clusterprofiler
bioconductor-annotationdbi
r-ggplot2
r-intego
r-rlist
r-reshape2
bioconductor-gosemsim
bioconductor-genomicfeatures
r-png
bioconductor-annotationhub
r-rsqlite

# Python libraries
argparse
os
re
pandas
numpy
sqlite3
matplotlib
warnings
random
scipy
math

# Genclust
genclust
